# R Tutorial

## Numeric
Decimal values are called numerics in R. It is the default computational data type. If we assign a decimal value to a variable x as follows, x will be of numeric type.

In [3]:
x = 10.5
x
class(x)

[1] 10.5

[1] "numeric"

## Integer
In order to create an integer variable in R, we invoke the as.integer function. We can be assured that y is indeed an integer by applying the is.integer function.

In [4]:
y = as.integer(3)
y
class(y)

[1] 3

[1] "integer"

## complex number

In [7]:
z = 1 + 2i
z 
class(z)
# sqrt -1 is not complex value, but -1+0i is
sqrt(-1+0i)
class(-1); class(-1+0i)

[1] 1+2i

[1] "complex"

[1] 0+1i

[1] "numeric"

[1] "complex"

## logical

In [8]:
x = 1 ; y = 2 #sample values
z =  x > y #is x larger than y?
z
class(z)

[1] FALSE

[1] "logical"

In [9]:
u = TRUE; v = FALSE
u & v
u | v
!u

[1] FALSE

[1] TRUE

[1] FALSE

## Character 
string values in R

In [10]:
x = as.character(3.14)
x
class(x)

[1] "3.14"

[1] "character"

In [11]:
# concatenatation
fname = "Joe"; lname="Smith"
paste(fname, lname)

[1] "Joe Smith"

## vector
A vector is a sequence of data elements of the same basic type. Members in a vector are officially called components. Nevertheless, we will just call them members in this site.

In [12]:
c(2,3,5)

[1] 2 3 5

In [13]:
a = c(1,3,5,7)
b = c(1,2,4,8)
5 * a
a + b

[1]  5 15 25 35

[1]  2  5  9 15

In [14]:
# Vector index start from 1
s = c("a","b","c","d")
s[1]

[1] "a"

## Negative Index
If the index is negative, it would strip the member whose position has the same absolute value as the negative index. For example, the following creates a vector slice with the third member removed.

In [15]:
s[-3]

[1] "a" "b" "d"

## Numeric Index Vector
A new vector can be sliced from a given vector with a numeric index vector, which consists of member positions of the original vector to be retrieved.

Here it shows how to retrieve a vector slice containing the second and third members of a given vector s.

In [16]:
s = c("a","b","c","d","e")
s[c(2,3)]

[1] "b" "c"

## Range Index

In [17]:
s[2:4]

[1] "b" "c" "d"

## Named Vector Members
 assign names to vector members.

In [18]:
v = c("Mary", "Sue")
v
names(v) = c("First", "Last")
v
v["First"]

[1] "Mary" "Sue"

 First   Last
"Mary"  "Sue"

 First
"Mary"

## Matrix

In [19]:
A = matrix(
+ c(2,4,3,1,5,7), # the data elements 
+ nrow=2, # number of rows 
+ ncol=3, # number of columns 
+ byrow = TRUE #fill matrix by rows
)
A

ERROR: Error in parse(text = x, srcfile = src): <text>:3:7: 未預期的 '='
2: + c(2,4,3,1,5,7), # the data elements
3: + nrow=
         ^

In [27]:
B = matrix(c(2, 4, 3, 1, 5, 7),nrow=3, ncol=2, byrow=TRUE)
B
t(B)

     [,1] [,2]
[1,] 2    4
[2,] 3    1
[3,] 5    7

     [,1] [,2] [,3]
[1,] 2    3    5
[2,] 4    1    7

## list
A list is a generic vector containing other objects.

For example, the following variable x is a list containing copies of three vectors n, s, b, and a numeric value 3.

In [29]:
n = c(2, 3, 5) 
s = c("aa", "bb", "cc", "dd", "ee") 
b = c(TRUE, FALSE, TRUE, FALSE, FALSE) 
x = list(n, s, b, 3)   # x contains copies of n, s, b
x

[[1]]
[1] 2 3 5

[[2]]
[1] "aa" "bb" "cc" "dd" "ee"

[[3]]
[1]  TRUE FALSE  TRUE FALSE FALSE

[[4]]
[1] 3

In [32]:
v = list(bob=c(2, 3, 5), john=c("aa", "bb")) 
v[["bob"]]
v$bob

[1] 2 3 5

[1] 2 3 5

In [35]:
library(MASS)

ERROR: Error in library(MASS): there is no package called 'MASS'